<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedBack</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='/pagina_comentarios.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>
<body>
    <section>
        <main>
            <form class="formulario" action="/post/mensagem" method="POST">
                <H1>FEEDBACKS MASTERED</H1>
                <span>Usuario</span>
                <input class="inputNome" name="nome_user" type="text">
                
                <span>Comentario</span>
                <input class="inputComentario" name="comentario" type="text">
                
                <button class="botao">Enviar</button>    
            </form>

            <div class="exibe_comentario" name="mensagem">
                {% for mensagens in mensagem %}
                <div class="mensagem">
                    
                    <strong>
                        {{mensagens.usuario}} ({{mensagens.data_hora}})
                    </strong>
                    <p>{{mensagens.mensagem}}</p>
                    
                    <a href="/delete/mensagem/{{mensagens.cod_comentario}}"><button class="btn-del">Delete</button> </a>
                    <a href="/put/mensagem/adicionar/curtida/{{mensagens.cod_comentario}}"><button class="like">👍 </button></a>
                    <a href="/put/mensagem/remover/curtida/{{mensagens.cod_comentario}}"><button class="unlike">👎 </button></a>
                    <a href=""><button> CURTIDAS: {{mensagens.curtidas}} </button></a>
                </div>


                {% endfor %}
            </div>
        </main>
        
    </section>
</body>
</html>